<% include partials/header %>

<div  class="ui main container">
    <p>
        <h2>Enter an image URL</h2>
        and click below to run Clarifai
    </p>
</div>

<div id="inputField" class="container main">
    <form class="ui form"  action="/runClarifai" method="post">
        <div class="ui input">
            <input type="text" name="inputImgURL">
        </div>
        <br>
        <br>
        <!--<input type="submit" value="Run" class="ui green button"/>-->
        <input type="image" alt="Run" id="logo" src="https://pbs.twimg.com/profile_images/973226386486829057/a_xn4grB_400x400.jpg" width="100"/>
    </form>  
</div>

<!-- you have predictions to show -->
<% if (locals.predictions) { %>


<!-- SemanticUI Grid -->

<div class="push-down-small ui container">
<div class="ui grid">
<div class="four wide column"></div>
  <div class="four wide column">
      <!-- image -->
      
      <% if(locals.imgURL) { %>
        <img class="push-down-medium ui medium rounded image" src=<%= locals.imgURL %> >

        <% } %>
      
  </div>
  <div class="four wide column">
    
      <!-- predictions -->
      
        <h2 class="left">Predictions</h2>
        <ul>
            
        <% var length = Object.keys(locals.predictions.concepts).length %>
        
        <% for (var i=0; i<length; i++){ %>
            <% var prediction = locals.predictions.concepts[i] %>
            <li class="left"><%= prediction.name %> - <%= prediction.value %></li>
        <% } %>
            
        </ul>
  </div>
 <div class="four wide column"></div>
</div>
</div>
<% } %>
   

<% include partials/footer %>